.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-Y4isM_QJbmx0);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__sUjtT {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-Y4isM_QJbmx0);
}
.radio___3EqOg:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__d1E3N:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__ofnPm:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
