.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-MeEjLNIdqhRi);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Lf0iJ1UG9heR);
  font-family: var(--token-flb5MjLXYakP);
  font-size: var(--token-KNyXwoqV2PIT);
  line-height: var(--token-jUGcwqYVrzXC);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-HXy84JCWIsV0);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-ivCNQ0PfZ5TV);
  outline-offset: 1px;
  outline-color: var(--token-MeEjLNIdqhRi);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-7mQ9CO7qci_U);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-VldfSPyGQ1Ow);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-eY-xyu066sBp);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-TUHUh0BcLMOk);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-ui4_dVRIm3IX);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-dy5-lLpNM55f);
  font-size: var(--token-PSS-NwJpCYa5);
  column-gap: var(--token-ivCNQ0PfZ5TV);
  row-gap: 0px;
  border-radius: var(--token-Y4isM_QJbmx0);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-PSS-NwJpCYa5);
  line-height: var(--token-dy5-lLpNM55f);
  column-gap: var(--token-Y4isM_QJbmx0);
  row-gap: 0px;
  border-radius: var(--token-Y4isM_QJbmx0);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-eJaHiy-dZYIN);
  line-height: var(--token-tJ68vShAK4GM);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-eJaHiy-dZYIN);
  line-height: var(--token-tJ68vShAK4GM);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-9NWRbZGowgSp);
  border-radius: var(--token-HXy84JCWIsV0);
}
.softBackgroundcolor_neutral {
  background: var(--token-sYH-697GHoo9);
}
.softBackgroundcolor_muted {
  background: var(--token-4EyhH3HWXZ9r);
}
.softBackgroundcolor_success {
  background: var(--token-4r14-mBBOZeu);
}
.softBackgroundcolor_warning {
  background: var(--token-l2bscu1zMp52);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-m7bLN2eRDS2f);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-HXy84JCWIsV0);
  border: 0px solid var(--token-QtTVx7C0twj4);
}
.bordercolor_neutral {
  border-color: var(--token-frRG88UjfCmx);
}
.bordercolor_muted {
  border-color: var(--token-Ymz7u_iQFXDI);
}
.bordercolor_success {
  border-color: var(--token-qk2SnbBPpPii);
}
.bordercolor_warning {
  border-color: var(--token-Jy10NCMboZtp);
}
.bordercolor_errorDestructive {
  border-color: var(--token-v-YvTYDK5cSd);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-HXy84JCWIsV0);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-DE4gbeE_7GM1);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-nfSoNBzluUgB);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-7YSt9gg6duqK);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__rhnBm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-HXy84JCWIsV0);
  min-width: 0;
  min-height: 0;
  padding: var(--token-HXy84JCWIsV0) var(--token-gqPbD1csRbyl);
}
.freeBoxsize_extraSmall__rhnBmPsR9G {
  padding: var(--token-Y4isM_QJbmx0) var(--token-HXy84JCWIsV0);
}
.freeBoxsize_small__rhnBmXheya {
  padding: var(--token-HXy84JCWIsV0) var(--token-Lf0iJ1UG9heR);
}
.freeBoxsize_large__rhnBmEyzo5 {
  padding-top: var(--token-Y4isM_QJbmx0);
  padding-bottom: var(--token-Y4isM_QJbmx0);
}
.freeBoxsize_extraLarge__rhnBmFPcEx {
  padding-left: var(--token-UJHygNNW-ccu);
  padding-right: var(--token-UJHygNNW-ccu);
}
.freeBoxroundedFull__rhnBmAVqI {
  padding-right: var(--token-UJHygNNW-ccu);
  padding-left: var(--token-UJHygNNW-ccu);
}
.freeBox__scM9F {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__scM9Fmg95V {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ijFy6-CV0yH7);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Fv6SkzPyEw5X);
}
.slotTargetStartcolor_muted {
  color: var(--token-19-UhssHhCap);
}
.slotTargetStartcolor_success {
  color: var(--token-gngvKuPTHYhL);
}
.slotTargetStartcolor_warning {
  color: var(--token-76WwMCf8Tnsd);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-EDpxiYwQBxOg);
}
.slotTargetStarttype_soft {
  color: var(--token-890E1HE2jJTS);
}
.slotTargetStarttype_bordered {
  color: var(--token-890E1HE2jJTS);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-PSS-NwJpCYa5);
}
.slotTargetStartsize_small {
  font-size: var(--token-PSS-NwJpCYa5);
}
.slotTargetStartsize_large {
  font-size: var(--token-eJaHiy-dZYIN);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-eJaHiy-dZYIN);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-a4v8gV2JsVXj);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-a4v8gV2JsVXj);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-Ap8ef-8Z0mi2);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-Ap8ef-8Z0mi2);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-_GPDqYuU21M3);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-_GPDqYuU21M3);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-OPZqu9TrTUD-);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-OPZqu9TrTUD-);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-8sG89AD_lt6k);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-8sG89AD_lt6k);
}
.svg__unYl {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-ijFy6-CV0yH7);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Fv6SkzPyEw5X);
}
.slotTargetLabelcolor_muted {
  color: var(--token-19-UhssHhCap);
}
.slotTargetLabelcolor_success {
  color: var(--token-gngvKuPTHYhL);
}
.slotTargetLabelcolor_warning {
  color: var(--token-76WwMCf8Tnsd);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-EDpxiYwQBxOg);
}
.slotTargetLabeltype_soft {
  color: var(--token-890E1HE2jJTS);
}
.slotTargetLabeltype_bordered {
  color: var(--token-890E1HE2jJTS);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-a4v8gV2JsVXj);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-Ap8ef-8Z0mi2);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-a4v8gV2JsVXj);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-_GPDqYuU21M3);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-Ap8ef-8Z0mi2);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-OPZqu9TrTUD-);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-_GPDqYuU21M3);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-8sG89AD_lt6k);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-OPZqu9TrTUD-);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-8sG89AD_lt6k);
}
.text__rzSq7 {
  white-space: pre;
}
.freeBox__pFbym {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__pFbyMrZJfJ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ijFy6-CV0yH7);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Fv6SkzPyEw5X);
}
.slotTargetEndcolor_muted {
  color: var(--token-19-UhssHhCap);
}
.slotTargetEndcolor_success {
  color: var(--token-gngvKuPTHYhL);
}
.slotTargetEndcolor_warning {
  color: var(--token-76WwMCf8Tnsd);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-EDpxiYwQBxOg);
}
.slotTargetEndtype_soft {
  color: var(--token-890E1HE2jJTS);
}
.slotTargetEndtype_bordered {
  color: var(--token-890E1HE2jJTS);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-PSS-NwJpCYa5);
}
.slotTargetEndsize_small {
  font-size: var(--token-PSS-NwJpCYa5);
}
.slotTargetEndsize_large {
  font-size: var(--token-eJaHiy-dZYIN);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-eJaHiy-dZYIN);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-a4v8gV2JsVXj);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-a4v8gV2JsVXj);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-Ap8ef-8Z0mi2);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-Ap8ef-8Z0mi2);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-_GPDqYuU21M3);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-_GPDqYuU21M3);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-OPZqu9TrTUD-);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-OPZqu9TrTUD-);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-8sG89AD_lt6k);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-8sG89AD_lt6k);
}
.svg___1Bmdf {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
