.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-jJbkqpwhxooT);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-Ymz7u_iQFXDI);
  border-radius: var(--token-gqPbD1csRbyl);
  padding: var(--token-HXy84JCWIsV0);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection___9WSu5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
